/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 600px){
    .cajas-adaptables {
        width: 100%;
        height: 300px;
        margin:10px
    }
    .ocultar-cel {
        display: none;
    }
    .boton_programa{
        background-color: darkgreen;
        margin: 10px 10px 10px 10px;
    }
    img {
        max-width: 50%;
        height: auto;
        padding-top: 5px;
    }
}

@media only screen and (min-width:600px) {
    .cajas-adaptables {background-color: rgb(189, 189, 189);
        width: 45%;
        height:300px;
        display: inline-block;
        vertical-align: top;
        margin: 10px;
    }
    .boton_programa{
        width: 45%;
        background-color: darkgreen;
    }
    img {
        max-width: 50%;
        height: auto;
        padding-top: 5px;
    }
} 

@media only screen and (min-width: 768px){
    .cajas-adaptables {
        width: 15%;
        height: 400px;
        display: inline-block;
        vertical-align: top;
        margin: 10px;
    }
    .boton_programa{
        width: 15%;
        background-color: darkgreen;
    }
    img {
        max-width: 50%;
        height: auto;
        padding-top: 5px;
    }
}





#wrapper{
    width: 100%;
    margin: 0px auto;
    text-align: center;
    padding-top: 30px;
}

.cont-1{
    background-color: rgb(0, 68, 255);
}

.cont-2{
    background-color: rgb(255, 0, 170);
}

.cont-3{
    background-color: rgb(43, 255, 0);
}

.cont-4{
    background-color: rgb(255, 94, 0);
}

.h3{
    font-family:sans-serif;
    font-size: 16px;
    color: rgb(54, 54, 54);
    padding: 10px;
}

.p-descripcion-programas{
    font-family:sans-serif;
    font-size: 14px;
    color: rgb(255, 255, 255);
    margin: 10px 10px 10px 10px;
}

.spoiler {
    display: block;
    margin: 7px 0px;
}

.spoiler-content {
    background-color: #222;
}

.spoiler div:first-child {
    width: 100%;

    background-color: #39382e;
    color: rgb(247, 247, 247);

    margin: 0px;
    padding: 4px 0px 4px 0px;


    text-align: center;

    cursor: pointer;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.spoiler div:first-child:hover {
    color: #AAA;
}

.spoiler div:last-child {
    display: none;

    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;

    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    padding: 5px 5px 5px 5px;
}