/**/
* {
    padding: 0px;
    margin: 0px;

}

body{
    padding-top: 20px;
}

.container{

}

.header_foto{
    padding-bottom: 20px;
}

.card-body h5{
    text-align: center;
}

.card-text p{
    padding-left: 10px;
    color: rgb(112, 112, 112);
    text-align: left;
}

#txt-busqueda input{
    border-color: 1px solid #008CBA ;
}

#btn-buscar{
    margin-top: 8px;
    color: #008CBA; 
    border-radius: 2px solid #008CBA;
    padding: 3%;
}

#btn-primary{
    margin-top: 7px;
    background-color: #ffffff; 
    color: #008CBA; 
    border: 1px solid #dddddd;
    border-radius: 10%;
    padding: 1%;
}

.card-title h7{
    font-size: 14px;

}